.navigation>ul>* {
    position: relative;
    cursor: pointer;
}

.navigation>ul>*:before {
    content: attr(hover);
    position: absolute;
    opacity: 0;
    color: gray;
}

.navigation>ul>*:hover span {
    opacity: 0;
}

.navigation>ul>*:hover::before {
    opacity: 1;
}